{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}


{% block main %}
    <div class="welcome-container justify-content-center align-items-center">
        <h1 class="display-1 barlow-bold-italic">
            DebtSuki: Debt Management and Financial Tracking System
        </h1>
    </div>

    <div class="container-fluid mt-3">
        <div class="welcome-container d-flex flex-column flex-md-row justify-content-center align-items-center mt-5">
            <img src="/static/favicon.ico" alt="DebtSuki Icon" style="width:50px;height:50px;">
            <p class="mt-3 ms-3">Keep track of your debts, manage repayments, and stay financially organized.</p>
        </div>
        <div id="carouselExample" class="carousel slide mt-5 carouselContainer">
            <div class="carousel-inner carouselInnerContainer">
                <div class="carousel-item active">
                    <blockquote class="blockquote text-center">
                        John Glenard Moral. Mandaluyong, Philippines. 9/11/2024
                        <p>- <a href="https://github.com/moraljohn">https://github.com/moraljohn</a>, edX username: moraljohn</p>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        "DebtSuki helped me organize my loans and payments. Highly recommended!"
                        <p>- Maria, DebtSuki User</p>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        "DebtSuki made it so easy to keep track of who owes me money. I love the reminders!"
                        <p>- Juan, DebtSuki User</p>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        "Managing my debts has never been this simple. DebtSuki is a game-changer!"
                        <p>- Ana, DebtSuki User</p>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        "The dashboard is so intuitive and user-friendly. Highly recommend DebtSuki to anyone!"
                        <p>- Carlos, DebtSuki User</p>
                    </blockquote>
                </div>
                <div class="carousel-item">
                    <blockquote class="blockquote text-center">
                        "DebtSuki's notifications helped me avoid late payments. It's a lifesaver!"
                        <p>- Liza, DebtSuki User</p>
                    </blockquote>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true" style="color:black"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}